* {
  margin: 0;
  padding: 0;
}
body {
}
.Search-bar {
  text-align: right;
  padding: 20px;
  background-color: black;
}
.Search-bar #search {
  height: 20px;
  margin: 10px;
}
.Search-bar #filter {
  height: 20px;
  margin: 10px;
}
.Search-bar button {
  font-size: 15px;
  color: black;
}
.moviesection {
  height: 100vh;
  width: 200vh;
}
.moviesection #movieList {
  margin: 10px;
}
.moviesection ul {
  padding: 20px;
  margin: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 17px;
  list-style: none;
}

.moviesection #movieList p {
  font-size: 20px;
  text-align: center;
  padding-top: 7px;
}
.moviesection #movieList img {
  width: 300px;
  height: 350px;
}
